.container{
    display:flex;
    justify-content: center;
    align-items: center;
   margin: 2rem;

}
.form-cont{
    width:30rem;
    height:auto;
    font-family: "poppins" sans-serif;
 

   
   
}

.country-dropdown{
    border:1px solid lightgray
}

textarea{
    border:1px solid lightgray !important;
}

textarea::placeholder{
    color: rgb(170, 166, 166);
    font-size: 0.95rem;
}
textarea:focus { 
    outline: none !important;
    border:2px solid #1e90ff;

    /* box-shadow: 0 0 10px #719ECE; */
 }
 
 .country-dropdown:focus{
    outline: none !important;
    border:2px solid #1e90ff;
    /* box-shadow: 0 0 10px #719ECE; */
 }
 .hobby:focus{
    outline: none !important;
    border:2px solid #1e90ff;
    /* box-shadow: 0 0 10px #719ECE; */
 }

